@{
    Layout = null;
    ViewData["Title"] = "Şifremi Unuttum";
    string msg = ViewBag.Message;
    string msg2 = ViewBag.Message2;

}
<!DOCTYPE html>
<html>
<head>
    <title>Şifremi Unuttum</title>
    <link href="~/mainBlog/img/icons8-falcon-50.png" rel="icon" />
    <link href="~/css/Login.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="login">
            <form asp-action="ForgotPassword" method="post">
              
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="email" placeholder="Email" style="margin-top:120px;">
                <div class="social-login">
                    <button class="btn btn-danger">ŞİFREMİ YENİLE</button>

                </div>
            </form>
            <form>
                <button asp-controller="Login" asp-action="Login" class="btn btn-danger">GERİ DÖN</button>
            </form>

        </div>
    </div>
    <script src="~/js/PasswordEye.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                html: true,
                placement: "bottom"
            });
        });
    </script>
    @{
        var message = ViewBag.message;
        if (message != null)
        {
            <script>
                toastr.options.positionClass = 'toast-bottom-right';
                toastr.success("@message")
            </script>
        }
    }
    @{
        var message2 = ViewBag.message2;
        if (message2 != null)
        {
            <script>
                toastr.options.positionClass = 'toast-bottom-right';
                toastr.error("@message2")
            </script>
        }
    }
</body>
</html>
